.calculator {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.display {
    background: #f0f0f0;
    padding: 20px;
    font-size: 2em;
    text-align: right;
}

.buttons {
    font-size: 1.5em;
    .button-panel {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        button {
            padding: 20px;
        }
    }
    .button-ac {
        background: #ff6666;
        color: white;
        button {
            width: 100%;
        }
    }
}